.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: limegreen;
    padding: 5px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

h1{
    display: flex;
    justify-content: center ;
    font-size: 30px;
}


.row{
    display: flex;
}

.column{
    flex: 100%;
    padding: 0px;
}

body{
    background-image: url("https://cdn.britannica.com/30/73130-138-917E422E/Ferns-systems-tracheophytes-leaves-water.jpg?w=800&h=450&c=crop");
    background-size: cover;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.plant1{
    display: flex;
    justify-content: center;
}